{% extends"layouts/default.html" %}


{% block content %}
<script src="/views/pages/index/script.js"></script>

<h1>Pages</h1>
<ul>
  <li>
    <a href="/magasin">Magasin</a>
  </li>
  <li>
    <a href="/univers-cuisine">Univers Cuisine</a>
  </li>
</ul>

{% endblock %}
