{% extends"layouts/default.html" %} 

{% block content %}

<div class="wrapper-central wrapper-hp">
    <div class="container">
        <div class="content-intro">
            <img src="/images/mess-cover-home.svg" class="img-fluid mx-auto d-none d-sm-block" alt="Lapeyre - Découvrez la cuisine de vos rêves" />
            <img src="/images/mess-cover-home-m.svg" class="img-fluid mx-auto d-block d-sm-none mess-mobile" alt="Lapeyre - Découvrez la cuisine de vos rêves" />
            <div class="intro mx-auto">
                <img src="/images/triangle.svg" class="triangle" alt="" />
                <div class="content-txt">
                    <p>
                        Répondez à notre questionnaire et découvrez les cuisines qui vous correspondent vraiment !
                    </p>
                    <a href="/etape1" class="mx-auto">Commencer le test</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}