{# TWIST #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-twist-CCN1012" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(http://res.cloudinary.com/dwkgy95ov/image/upload/a_hflip,f_webp,fl_lossy/c_fill,h_762,w_1350/v1516654379/201620765.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Twist</h3><p>Donnez du rythme à votre cuisine</p> <p>Prix : 499€ </p></div>
        </div>
    </div>
</div>

{# URBAN #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-urban-CCN1015" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,g_auto:none,h_762,w_1350/v1518731523/urban.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Urban</h3><p>Une vraie citadine</p> <p>Prix : 699€ </p></div>
        </div>
    </div>
</div>

{# LUMIO #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-lumio-CCN1017" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518731325/lumio.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Lumio</h3><p>La plus naturelle</p> <p>Prix : 549€ </p></div>
        </div>
    </div>
</div>

{# EYRE #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-eyre-CCN875023" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,g_center,h_762,w_1250/v1518731892/eyre.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Eyre</h3><p>L'élégance aux lignes épurées</p> <p>Prix : 849€ </p></div>
        </div>
    </div>
</div>

{# SILVER #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-silver-CCN875024" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518731325/lumio.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Silver</h3><p>La touche d'éclat</p> <p>Prix : 1289€ </p></div>
        </div>
    </div>
</div>

{# STRIA #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-stria-CCN875025" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518732596/stria.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Stria</h3><p>Jouez avec les lignes</p> <p>Prix : 1339€ </p></div>
        </div>
    </div>
</div>

{# TANDEM #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-tandem-CCN875026" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518728759/201618095.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Tandem</h3><p>S'adapte à toutes vos envies</p> <p>Prix : 1379€ </p></div>
        </div>
    </div>
</div>

{# ORIGINE #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-origine-CCN1013" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518731668/origine.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Origine</h3><p>Simple et chic</p> <p>Prix : 699€ </p></div>
        </div>
    </div>
</div>

{# GRAPHIK #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-graphik-CCN875027" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518732916/graphik.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Graphik</h3><p>Minimalisme et design</p> <p>Prix : 1429€ </p></div>
        </div>
    </div>
</div>

{# CARAT #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-carat-CCN875028" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518733091/carat.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Carat</h3><p>Vos envies couleurs à la carte</p> <p>Prix : 1499€ </p></div>
        </div>
    </div>
</div>

{# MINUIT #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-minuit-CCN875029" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518733292/minuit.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Minuit</h3><p>Une cuisine de chef</p> <p>Prix : 1649€ </p></div>
        </div>
    </div>
</div>

{# FJORD #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-fjord-CCN875030" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518732767/fjord.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Fjord</h3><p>Le rêve nordique ou cap sur le nord</p> <p>Prix : 1419€ </p></div>
        </div>
    </div>
</div>

{# SAVEUR #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-saveur-CCN87503" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1516727398/Saveur_blanc.jp) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Saveur</h3><p>Le charme du bois</p> <p>Prix : 1599€ </p></div>
        </div>
    </div>
</div>

{# BISTRO #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-bistro-CCN875032" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518727365/bistro.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Bistro</h3><p>L'esprit rétro</p> <p>Prix : 1789€ </p></div>
        </div>
    </div>
</div>

{# DOMAINE #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-domaine-CCN875033" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,h_762,w_1350/v1518733440/domaine.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Domaine</h3><p>L'esprit traditionnel</p> <p>Prix : 1819€ </p></div>
        </div>
    </div>
</div>

{# YTRAC #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-urban-CCN1015" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,g_auto:none,h_762,w_1350/v1518731523/urban.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Ytrac</h3><p>Une vraie citadine</p> <p>Prix : 699€ </p></div>
        </div>
    </div>
</div>

{# OZON #}

<div class="col-12 col-lg-4 d-flex justify-content-center">
    <div class="card-choice">
        <a href="/modele-urban-CCN1015" class="link-cuisine"></a>
        <div class="content">
            <div class="illus" style="background:url(https://res.cloudinary.com/dwkgy95ov/image/upload/fl_lossy,f_auto/c_fill,g_auto:none,h_762,w_1350/v1518731523/urban.jpg) no-repeat center center;"></div>
            <div class="bottom"><h3 class="text-center">Cuisine Ozon</h3><p>Une vraie citadine</p> <p>Prix : 699€ </p></div>
        </div>
    </div>
</div>


