{% extends"layouts/default.html" %} 

{% block content %}

    <div class="wrapper-central wrapper-quizz">
        <div class="top-quizz">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="inspiration">Votre inspiration cuisine</li>
                    </ol>
                </nav>
                <div class="cover-quizz">
                    <a href="/etape4" class="link-precedent"><img src="/images/precedent-link.svg" class="img-fluid" alt="" /></a>
                    <img src="/images/mess-quizz-5.svg" class="img-fluid" alt="Lapeyre - Style de votre cuisine" />
                </div>
            </div>
        </div>
        <div class="main-quizz">
            <div class="container">
                <div id="quizz-container">
                    <div class="row">
                        <div class="col-12 col-lg-2">
                            <nav class="nav-steps d-sm-flex justify-content-sm-center justify-content-md-center d-lg-block align-items-center">
                                <h2>étapes</h2>
                                <ul>
                                    <li><span>1</span></li>
                                    <li><span>2</span></li>
                                    <li><span>3</span></li>
                                    <li><span>4</span></li>
                                    <li class="active"><span>5<strong>. Budget</strong></span></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12 col-lg-9 col-choices">
                            <div class="row">
                                <div class="col-6 d-flex justify-content-center">
                                    <div class="card-choice">
                                        <a href="/resultats" class="fake-link"><span class="d-none">Cuisine Twist</span></a>
                                        <div class="content">
                                            <div class="illus" style="background:url(/images/etape-5-moins.jpg) no-repeat center center;"></div>
                                            <div class="bottom"><h3 class="text-center">Cuisine Twist</h3></div>
                                        </div>
                                        <a href="#" class="btn-choice">Moins de 1000€</a>
                                    </div>
                                </div>
                                <div class="col-6 d-flex justify-content-center active">
                                    <div class="card-choice">
                                        <a href="/resultats" class="fake-link"><span class="d-none">Cuisine Graphik</span></a>
                                        <div class="content">
                                            <div class="illus" style="background:url(/images/etape-5-plus.jpg) no-repeat center center;"></div>
                                            <div class="bottom"><h3 class="text-center">Cuisine Graphik</h3></div>
                                        </div>
                                        <a href="#" class="btn-choice">1000€ et au-dessus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-lg-none">
                            <nav class="nav-pagination d-flex justify-content-center justify-content-md-start">
                                <a href="/etape4" class="prev">Précédent</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}