@import "variables";
@import "bootstrap";

@font-face {
  font-family: 'DinCondensed';
  src: url('../fonts/DinCond-bold.otf');
}


// @import '_module__forms';
// @import "_module__accordion";
// @import "_module__cards";
// @import '_module__buttons';
// @import '_module__breadcrump';
// @import '_module__hero';


$font-factor-xs:2.0;
$font-factor-sm:1.5;
$font-factor-md:1.2;
$font-factor-lg:1.1;

$font-size-base-h1:2.5;
$font-size-base-h2:2.0;
$font-size-base-h3:1.5;
$font-size-base-p:1 ;

h1, .h1 {
  font-size: $font-size-base-h1 / $font-factor-xs + unquote("rem");
}
h2, .h2 {
  font-size: $font-size-base-h2 / $font-factor-xs + unquote("rem");
}
h3, .h3 {
  font-size: $font-size-base-h3 / $font-factor-xs + unquote("rem");
}
p {
  font-size: $font-size-base-p / $font-factor-md + unquote("rem");
}

@include media-breakpoint-up(sm) {
  h1, .h1 {
    font-size: $font-size-base-h1 / $font-factor-sm + unquote("rem");
  }
  h2, .h2 {
    font-size: $font-size-base-h2 / $font-factor-sm + unquote("rem");
  }
  h3, .h3 {
    font-size: $font-size-base-h3 / $font-factor-sm + unquote("rem");
  }
  p {
    font-size: $font-size-base-p / $font-factor-sm + unquote("rem");
  }
}

@include media-breakpoint-up(md) {
  h1, .h1 {
    font-size: $font-size-base-h1 / $font-factor-md + unquote("rem");
  }
  h2, .h2 {
    font-size: $font-size-base-h2 / $font-factor-md + unquote("rem");
  }
  h3, .h3 {
    font-size: $font-size-base-h3 / $font-factor-md + unquote("rem");
  }
  p {
    font-size: $font-size-base-p / $font-factor-md + unquote("rem");
  }
}

@include media-breakpoint-up(lg) {
  h1, .h1 {
    font-size: $font-size-base-h1 / $font-factor-lg + unquote("rem");
  }
  h2, .h2 {
    font-size: $font-size-base-h2 / $font-factor-lg + unquote("rem");
  }
  h3, .h3 {
    font-size: $font-size-base-h3 / $font-factor-lg + unquote("rem");
  }
  p {
    font-size: $font-size-base-p / $font-factor-lg + unquote("rem");
  }
}

@include media-breakpoint-up(xl) {
  h1, .h1 {
    font-size: $font-size-base-h1 + unquote("rem");
  }
  h2, .h2 {
    font-size: $font-size-base-h2 + unquote("rem");
  }
  h3, .h3 {
    font-size: $font-size-base-h3 + unquote("rem");
  }
  p {
    font-size: $font-size-base-p + unquote("rem");
  }
}
svg { fill: currentColor; vertical-align:middle;  }

/*
ul li .card{
  &.is-active{
    border-color: $red;
    cursor: pointer;
  }
  &.is-new{
    border-color: $gray-500;
    cursor: pointer;
  }
  &:hover{
    border-color: $red-secondary;
    cursor: pointer;
  }
}
*/

@import 'views';

// Style Quizz à déplacer

$greyBtn: #9B9B9B;

body {
  background: #fff;
}

.breadcrumb {
  background: none;
  padding: 0;
  .breadcrumb-item,
  .breadcrumb-item a {
    color: #000;
  }
  .breadcrumb-item+.breadcrumb-item:before {
    color: $red-secondary;
    content: ">";
  }
}

.wrapper-central {
  padding: 50px 0;
  &.wrapper-hp {
    background: url(../images/bg-home-quizz.jpg) center top no-repeat;
    background-size: cover;
    position: relative;
    &:before {
      content:'';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: rgba(0,0,0,0.4);
    }
    .container {
      position: relative;
      z-index: 50;
    }
  }
  &.wrapper-quizz {
    padding-top: 0;
  }
  .top-quizz {
    padding-top: 50px;
    background: #F8F8F8;
  }
  .cover-quizz {
    padding: 30px 0 130px;
    position: relative;
    .link-precedent {
      position: absolute;
      top: 160px;
      left: 340px;
      z-index: 1;
      width: 130px;
    }
    .link-relancer {
      position: absolute;
      top: 152px;
      left: 340px;
      z-index: 1;
      width: 150px;
    }
    img {
      width: 255px;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }
}
.intro {
  width: 290px;
  position: relative;
  padding-top: 10px;
  .triangle {
    display: none;
  }
  .content-txt {
    color: #fff;
    background: $red-secondary;
    padding: 20px 30px 30px;
    position: relative;
    &:before {
      content:'';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 50px 290px;
      border-color: transparent transparent #ea0027 transparent;
      position: absolute;
      top: -50px;
      left: 0;
      z-index: 1;
    }
    p {
      font-size: 14px;
      margin: 0;
    }
    a {
      font-size: 14px;
      text-align: center;
      color: $red-secondary;
      display: block;
      width: 190px;
      background: #fff;
      text-decoration: none;
      margin-top: 30px;
      border-radius: 3px;
      padding: 7px 15px;
      transition: all 0.25s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
// Step 1 du quizz
#quizz-container {
  margin-top: -60px;
}
.nav-steps {
  font-family: $font-family-1;
  h2 {
    font-size: 25px;
    letter-spacing: 2px;
    color: $red;
    border-bottom: 3px solid $red;
    display: inline-block;
    text-transform: capitalize;
    margin: 10px 0 35px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 5px;
      &.active {
        padding-left: 10px;
        span {
          color: #fff;
          background: $red-secondary;
        }
        strong {
          font-weight: normal;
        }
      }
      span {
        font-size: 25px;
        color: #d8d8d8;
        background: #f8f8f8;
        padding: 0 15px;
        display: inline-block;
      }
    }
  }
}
.col-choices {
  .active {
    background: url(../images/bg-reponse.svg) no-repeat center bottom;
    background-size: 100% auto;
    .card-choice {
      .btn-choice {
        background: $red-secondary;
      }
    }
  }
}
.card-choice {
  width: 340px;
  padding-bottom: 50px;
  position: relative;
  .fake-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  &:hover {
    cursor: pointer;
    .btn-choice {
      background: $red-secondary;
    }
  }
  .content {
    border: 1px solid #E5E5E5;
    background: #fff;
    margin-bottom: 30px;
  }
  .illus {
    width: 100%;
    height: 250px;
    background-size: cover !important;
  }
  .bottom {
    color: #000;
    font-size: 22px;
    text-align: center;
    padding: 30px;
    h3 {
      margin: 0;
    }
  }
  .btn-choice {
    font-size: 14px;
    text-align: center;
    color: #fff;
    display: block;
    width: 250px;
    background: $greyBtn;
    text-decoration: none;
    margin: 30px auto 0;
    border-radius: 3px;
    padding: 11px 15px 12px;
    transition: all 0.25s ease-in-out;
    &:hover {
      background: $red-secondary;
    }
  }
}
.nav-pagination {
  width: 100%;
  a {
    color: #A78F80;
    font-size: 14px;
    border-bottom: 3px solid #A78F80;
    &.prev {
      padding: 0 0 3px 18px;
      background: url(../images/pagination-arrow-prev.svg) left 4px no-repeat;
      background-size: 12px 12px;
    }
    &.next {
      padding: 0 18px 3px 0;
      background: url(../images/pagination-arrow-next.svg) right 4px no-repeat;
      background-size: 12px 12px;
    }
  }
}

// Etape finale - Resultats

.col-resultats {
  margin-bottom: 60px;
  .card-choice {
    padding-bottom: 0;
  }
  .btn-final {
    font-size: 14px;
    text-align: center;
    color: #fff;
    display: inline-block;
    background: $red-secondary;
    text-decoration: none;
    border-radius: 3px;
    padding: 11px 40px 12px;
    transition: all 0.25s ease-in-out;
    &:hover {
      background: darken($red-secondary, 7%);
    }
  }
  .share {
    p {
      margin-bottom: 30px;
    }
  }
  .btn-share {
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 15px 10px 40px;
    &.fb {
      background: url(../images/facebook.svg) no-repeat 12px center #405C9E;
      background-size: 20px auto;
      margin-right: 20px;
      transition: all 0.25s ease-in-out;
      &:hover {
        background-color: darken(#405C9E, 10%);
      }
    }
    &.twitter {
      background: url(../images/twitter.svg) no-repeat 12px center #1B95E0;
      background-size: 20px auto;
      transition: all 0.25s ease-in-out;
      &:hover {
        background-color: darken(#1B95E0, 10%);
      }
    }
  }
}
.bottom-resultats {
  padding: 70px 0;
  background: #f8f8f8;
  h4 {
    color: #404040;
    font-size: 45px;
    font-family: $font-family-1;
  }
}

@media all and (max-width: 991px){
  .wrapper-central {
    .cover-quizz {
      padding: 30px 0 110px;
      .link-precedent,
      .link-relancer {
        display: none;
      }
    }
  }
  .breadcrumb {
    display: none;
  }
  #quizz-container {
    margin-top: 0;
  }
  .nav-steps {
    width: 100%;
    text-align: center;
    margin-top: -20px;
    h2 {
      border-bottom: none;
      margin: 0 10px 0 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0 5px 0 0;
        display: inline-block;
        vertical-align: top;
        &.active {
          padding-left: 0;
          span {
            color: #fff;
            background: $red-secondary;
          }
        }
        span {
          color: $red-secondary;
          background: #fff;
          strong {
            display: none;
          }
        }
      }
    }
  }
  .col-choices {
    margin-top: 60px;
    .active {
      background: url(../images/bg-reponse.svg) no-repeat center bottom;
      background-size: 100% auto;
    }
  }
}
@media all and (max-width: 767px){
  .card-choice {
    .illus {
      height: 180px;
    }
  }
}
@media all and (max-width: 575px){
  .wrapper-central {
    padding: 30px 0 0;
    &.wrapper-hp {
      .container {
        padding: 0;
      }
    }
  }
  .content-intro {
    & > img {
      margin-bottom: -20px;
    }
  }
  .intro {
    width: 100%;
    padding: 0;
    .triangle {
      width: 100%;
      height: auto;
      display: block;
    }
    .content-txt {
      margin-top: -1px;
      &:before {
        display: none;
      }
      p {
        font-size: 16px;
        max-width: 260px;
        margin: 0 auto !important;
      }
      a {
        width: 230px;
        padding: 10px 15px 9px;
      }
    }
  }
  #quizz-container {
    padding-bottom: 30px;
  }
  .col-choices {
    .active {
      background: none;
    }
  }
  .card-choice {
    width: 100%;
    padding-bottom: 50px;
    border-radius: 3px;
    overflow: hidden;
    .content {
      border: none;
    }
    &:hover {
      cursor: pointer;
      .btn-choice {
        background: $red-secondary;
      }
    }
    .illus {
      height: 110px;
    }
    .bottom {
      color: #B9B9B9;
      padding: 20px;
      border: 1px solid #9B9B9B;
      border-top: 0;
      border-radius: 0 0 3px 3px;
      h3 {
        font-size: 14px;
        font-weight: 600;
      }
    }
    .btn-choice {
      width: 145px;
      margin-top: 0;
    }
  }
}
